@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  * {
    @apply transition-all duration-100 ease-in-out;
  }

  form input {
    @apply  outline-none border-[1px] border-slate-400 focus-within:border-slate-800 min-h-[40px] px-3 transition-all duration-100 ease-in-out;
  }

  .container {
    @apply max-w-[1366px];
  }

  button, button[type="submit"] {
    @apply px-6 py-3 font-semibold text-white bg-black rounded-md border-none hover:opacity-90 active:opacity-90;
  }

  .action-button {
    @apply flex-1
  }
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.message {
  font-size: 20px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
