.form-wrap {
  max-width: 500px;
  margin: 30px auto;
}

.form-wrap form {
  display: flex;
  gap: 20px;
}

.form-wrap form input {
  flex-basis: 70%;
}

.form-wrap form input:focus {
  outline: none;
}

.form-wrap form button {
  flex-basis: 30%;
}
