.actions-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-basis: 20%;
}

.actions-wrap button {
  padding: 12px 24px;
}

.todo-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.edit-input {
  height: 30px;
  padding: 0 15px;
  font-size: 16px;
}
